<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello PKS</title>
    <link rel="stylesheet" href="../static/pui-components-14.0.0.css" data-th-href="@{/pui-components-14.0.0.css}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/pks-32x32.png" data-th-href="@{/pks-32x32.png}"/>
    <style>
        .rotate-anime {
            animation: rotate-anime 3s linear infinite;
        }

        .content {
            padding: 32px
        }

        @keyframes rotate-anime {
            0% {
                transform: rotate(0);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>
<div class="content">
    <h1 class="h1 type-brand-3"><a data-th-href="@{/}">Hello PKS</a></h1>
    <div class="grid grid-show mbxl">
        <div class="col">
            <img src="../static/pks.png" data-th-src="@{/pks.png}" title="Pivotal Container Service (PKS)"
                 class="rotatable">
            <img src="../static/pks-name.png" data-th-src="@{/pks-name.png}" title="Pivotal Container Service (PKS)">
            <img src="../static/k8s.png" data-th-src="@{/k8s.png}" title="Kubernetes" class="rotatable">
        </div>
    </div>
    <div class="grid grid-show mbxl">
        <div class="col">
            <form class="form" method="POST" data-th-action="@{/tweets}">
                <fieldset>
                    <div class="grid form-row">
                        <div class="col col-4 form-col">
                            <div class="form-unit">
                                <div class="grid grid-nogutter label-row">
                                    <div class="col">
                                        <label for="username">Name</label>
                                    </div>
                                    <div class="col col-fixed col-middle post-label"></div>
                                </div>
                                <div class="field-row">
                                    <input type="text" name="username" id="username" class="" required/>
                                </div>
                                <div class="help-row type-dark-5"></div>
                            </div>
                        </div>
                        <div class="col col-6 form-col">
                            <div class="form-unit">
                                <div class="grid grid-nogutter label-row">
                                    <div class="col">
                                        <label for="text">Tweet</label>
                                    </div>
                                    <div class="col col-fixed col-middle post-label"></div>
                                </div>
                                <div class="field-row">
                                    <input type="text" name="text" id="text" class="" required/>
                                </div>
                                <div class="help-row type-dark-5"></div>
                            </div>
                        </div>
                        <div class="col form-col col-fixed">
                            <div class="form-unit">
                                <div class="grid grid-nogutter label-row">
                                    <div class="col">
                                        <label for="submit"></label>
                                    </div>
                                    <div class="col col-fixed col-middle post-label"></div>
                                </div>
                                <div class="field-row">
                                    <button class="pui-btn pui-btn-primary btn btn-primary"
                                            id="submit" type="submit" aria-label="Submit"><span
                                            class="btn-inner-content pui-btn-inner-content"><span>Submit</span> </span>
                                    </button>
                                </div>
                                <div class="help-row type-dark-5"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="grid grid-show mbxl">
        <div class="col">
            <h2 class="h2 type-brand-4" id="tweets"><a href="#tweets" class="underline-gray-hover">Tweets</a></h2>
            <ul class="list-unordered" id="actuator" data-th-each="tweet : ${tweets}">
                <li>[[${tweet.username}]] [[${tweet.text}]] [[${tweet.createdAt}]]</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>